<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^admin/assets/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/app/carrental/(admin)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="backend/web/assets/{R:1}" />
                </rule>
                <rule name="Imported Rule 2" enabled="true" stopProcessing="true">
                    <match url="^admin/css/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="backend/web/css/{R:1}" />
                </rule>
                <rule name="Imported Rule 3" enabled="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/app/carrental/backend/web/(assets|css)/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/app/carrental/(admin)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="backend/web/index.php" />
                </rule>
                <rule name="Imported Rule 4" enabled="true" stopProcessing="true">
                    <match url="^assets/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/app/carrental/(assets|css)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="frontend/web/assets/{R:1}" />
                </rule>
                <rule name="Imported Rule 5" enabled="true" stopProcessing="true">
                    <match url="^css/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="frontend/web/css/{R:1}" />
                </rule>
                <rule name="Imported Rule 6" enabled="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/app/carrental/(frontend|backend)/web/(assets|css)/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="index.php" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="frontend/web/index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
