
.icon-large-userm{background:url('../images/carrental/userm.png') no-repeat center center;}
.icon-large-orgnization{background:url('../images/carrental/orgnization.png') no-repeat center center;}
.icon-large-userrole{background:url('../images/carrental/userrole.png') no-repeat center center;}
.icon-large-notebook{background:url('../images/carrental/notebook.png') no-repeat center center;}
.icon-large-logfile{background:url('../images/carrental/logfile.png') no-repeat center center;}
.icon-large-parking{background:url('../images/carrental/parking.png') no-repeat center center;}
.icon-large-write_paper{background:url('../images/carrental/write_paper.png') no-repeat center center;}
.icon-large-order{background:url('../images/carrental/order.png') no-repeat center center;}
.icon-large-timing{background:url('../images/carrental/timing.png') no-repeat center center;}
.icon-large-peccancy{background:url('../images/carrental/peccancy.png') no-repeat center center;}
.icon-large-autopay{background:url('../images/carrental/autopay.png') no-repeat center center;}
.icon-large-options{background:url('../images/carrental/options.png') no-repeat center center;}
.icon-large-auto{background:url('../images/carrental/auto.png') no-repeat center center;}
.icon-large-model{background:url('../images/carrental/model.png') no-repeat center center;}
.icon-large-incar{background:url('../images/carrental/incar.png') no-repeat center center;}
.icon-large-dispatch{background:url('../images/carrental/dispatch.png') no-repeat center center;}
.icon-large-users{background:url('../images/carrental/users.png') no-repeat center center;}
.icon-large-refer{background:url('../images/carrental/refer.png') no-repeat center center;}
.icon-large-sms{background:url('../images/carrental/sms.png') no-repeat center center;}
.icon-large-rsms{background:url('../images/carrental/rsms.png') no-repeat center center;}
.icon-large-report{background:url('../images/carrental/report.png') no-repeat center center;}
.icon-large-daystat{background:url('../images/carrental/daystat.png') no-repeat center center;}
.icon-large-month{background:url('../images/carrental/month.png') no-repeat center center;}
.icon-large-stat{background:url('../images/carrental/stat.png') no-repeat center center;}
.icon-large-draw{background:url('../images/carrental/draw.png') no-repeat center center;}
.icon-large-card{background:url('../images/carrental/card.png') no-repeat center center;}
.icon-large-allwork{background:url('../images/carrental/allwork.png') no-repeat center center;}
.icon-large-pay{background:url('../images/carrental/pay.gif') no-repeat center center;}
.icon-large-dic{background:url('../images/carrental/dic.png') no-repeat center center;}
