<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="../common/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="../public/css/main.css" rel="stylesheet" type="text/css" >
    <link href="../common/css/plugin.css" rel="stylesheet" type="text/css" >
    <link href="css/storeQuery.css" rel="stylesheet" type="text/css" >
    <title>门店查询——易卡租车</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?9e5610c8a5bf7be493e91a0efd541fcb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
</head>
<body ng-controller="queryStoreCtrl">

<div class="wrapper">
    <div ng-include="'../public/html/header.html'"></div>
    <div class="container">
        <div class="panel panel-city-1 col-xs-4">
            <div class="list-row">
                <ul class="list-left">
                    <li class="title">热门城市</li>
                    <li ng-repeat="x in hotCityList"><a href="store.html#{{x.cid}}" ng-bind="x.city">杭州</a></li>
                    <!--<li><a href="store.html#hz">杭州</a></li>-->
                    <!--<li><a href="store.html#jh">金华</a></li>-->
                    <!--<li><a href="store.html#zj">诸暨</a></li>-->
                    <!--<li><a href="store.html#yw">义乌</a></li>-->
                    <!--<li><a href="store.html#dy">东阳</a></li>-->
                </ul>
            </div>
            <div class="list-col">
                <!--<ul class="left">-->
                    <!--<li>D</li>-->
                    <!--<li>J</li>-->
                    <!--<li>H</li>-->
                    <!--&lt;!&ndash;<li>K</li>&ndash;&gt;-->
                    <!--<li>L</li>-->
                    <!--<li>N</li>-->
                    <!--<li>Q</li>-->
                    <!--<li>W</li>-->
                    <!--&lt;!&ndash;<li>X</li>&ndash;&gt;-->
                    <!--<li>Y</li>-->
                    <!--<li>Z</li>-->
                <!--</ul>-->
                <!--<ul class="left">-->
                    <!--<li><a href="store.html#0579-11">东阳</a></li>-->
                    <!--<li>-->
                        <!--<a href="store.html#0579">金华</a>-->
                        <!--&lt;!&ndash;<a href="store.html#js">江山</a>&ndash;&gt;-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="store.html#0571">杭州</a>-->
                        <!--&lt;!&ndash;<a href="store.html#hz">横店</a>&ndash;&gt;-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li><a href="store.html#kh">开化</a></li>&ndash;&gt;-->
                    <!--<li>-->
                        <!--<a href="store.html#0579-12">兰溪</a>-->
                        <!--&lt;!&ndash;<a href="store.html#ly">龙游</a>&ndash;&gt;-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="store.html#0574">宁波</a>-->
                        <!--&lt;!&ndash;<a href="store.html#pa">磐安</a>&ndash;&gt;-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="store.html#0570">衢州</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="store.html#027">武汉</a>-->
                        <!--<a href="store.html#0577">温州</a>-->
                        <!--<a href="store.html#0579-2">武义</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<a href="store.html#xs">萧山</a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li>-->
                        <!--<a href="store.html#0579-1">义乌</a>-->
                        <!--<a href="store.html#0579-10">永康</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="store.html#0575">诸暨</a>-->
                    <!--</li>-->
                <!--</ul>-->

                <ul class="cityForRent list-left" ng-hide="!cityDoorKuaiSu">
                    <li ng-repeat="x in cityDoorKuaiSu"><a href="../query/store.html#/{{x.cid}}" onclick="location.reload()" >{{x.city}}租车</a></li>
                </ul>
                <ul class="cityForRent list-left" ng-hide="cityDoorKuaiSu">
                    <li><a href="../query/store.html#/0571" onclick="location.reload()" >杭州租车</a></li>
                    <li><a href="../query/store.html#/027" onclick="location.reload()" >武汉租车</a></li>
                    <li><a href="../query/store.html#/0574" onclick="location.reload()" >宁波租车</a></li>
                    <li><a href="../query/store.html#/0577" onclick="location.reload()" >温州租车</a></li>
                    <li><a href="../query/store.html#/0579" onclick="location.reload()" >金华租车</a></li>
                    <li><a href="../query/store.html#/0579-1" onclick="location.reload()" >义乌租车</a></li>
                    <li><a href="../query/store.html#/0579-12" onclick="location.reload()" >兰溪租车</a></li>
                    <li><a href="../query/store.html#/0579-10" onclick="location.reload()" >永康租车</a></li>
                    <li><a href="../query/store.html#/0579-11" onclick="location.reload()" >东阳租车</a></li>
                    <li><a href="../query/store.html#/0579-2" onclick="location.reload()" >武义租车</a></li>
                </ul>
                <style>
                    ul.cityForRent{
                        color: #000;
                    }
                    ul.cityForRent li{
                        color: #000;
                        margin: 5px auto;
                    }
                    ul.cityForRent>li>a{
                        padding: 0 8px;
                        border: 1px solid #6ab0ff;
                        border-radius: 100px;
                        padding: 5px 10px;
                        color: #000;
                    }
                </style>
            </div>
        </div>
        <div class="panel panel-map-1  col-xs-8">
             <div id="map"></div>
        </div>
    </div>

    <!--引入底部-->
    <div ng-include="'../public/html/footer.html'"></div>
</div>
<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sign">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    签到送积分
                    <div class="badge badge-exp">积分可用于兑换租车抵用</div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="inline-box col-xs-7">
                        <div style="width:100%;height:300px;" id="calendar"></div>
                    </div>
                    <div class="inline-box col-xs-5 box-sign">
                        <div class="btn-group-sign sign" ng-init="sign=false">
                            <button class="btn btn-warning" ng-hide="sign">签到</button>
                            <button class="btn btn-warning" disabled ng-show="sign">已签到</button>
                        </div>
                        <div class="box-content">
                            <p>每日登陆签到即可获得积分发放</p>
                            <a href="javascript:;" class="right rule popover-show"
                               data-container="body"
                               data-html="true"
                               data-toggle="popover"
                               data-content="<ul><li>1. 签到1天可获得1点积分</li>
                               <li>2. 连续签到2天当天可获得2点积分</li>
                               <li>3. 连续签到3天当天可获得3点积分</li>
                               <li>4. 连续签到4天当天可获得4点积分</li>
                               <li>5. 连续签到5天当天可获得5点积分</li>
                               <li>6. 连续签到6天当天可获得6点积分</li>
                               <li>7. 连续签到7天当天可获得7点积分</li>
                               <li>8. 连续签到7天以上当天均获得7点积分</li>
                               <li>9. 连续签到中断过后，将从第一天开始重新计算</li>">详见签到发放规则>></a>
                            <a href="#" class="btn btn-lg btn-default btn-reward">点击领取奖励</a>
                        </div>
                        <div class="box-footer">
                            <div class="col-xs-4">
                                <p>获得积分(点)</p>
                                <div class="count">300</div>
                            </div>
                            <div class="col-xs-4">
                                <p>连续签到(天)</p>
                                <div class="count">3</div>
                            </div>
                            <div class="col-xs-4">
                                <p>累计签到(天)</p>
                                <div class="count">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FiyvLDHpCL6fUaiIhAHk0YtiRfFSCUc1"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script src='../common/js/jquery.min.js'></script>
<script src='../common/js/tool.js'></script>
<script src='../common/js/bootstrap.min.js'></script>
<script src='../common/js/angular.min.js'></script>
<script src='../common/js/jquery.onoff.min.js'></script>
<script src='../common/js/hDate.js'></script>
<script src='../public/js/app.js'></script>
<script src='../public/js/main.js'></script>
<script src='../public/js/store.js'></script>
<script src='../public/js/map.js'></script>
<script src='js/query.js'></script>
</body>
</html>