<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="../common/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="../common/css/plugin.css" rel="stylesheet" type="text/css" >
    <link href="../public/css/main.css" rel="stylesheet" type="text/css" >
    <link href="css/order.css" rel="stylesheet" type="text/css" >
    <title>订单详情——易卡租车</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?9e5610c8a5bf7be493e91a0efd541fcb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="wrapper">
    <div ng-include="'../public/html/header.html'"></div>
    <div class="container"  ng-controller="calcAppCtrl">
         <div class="panel">
             <div class="box info-box">
                 <div class="info-left">
                     <img src="../public/img/klz.jpg" />
                     <div class="info">
                         <p class="lp1">雪佛兰科沃兹</p>
                         <p class="lp2">三厢/1.6自动 | 乘坐5人</p>
                         <div class="base-btn">
                             <a href="javascript:;" class="btn btn-primary" data-toggle="modal" data-target="#confModal">查看配置信息</a>
                             <a href="#" class="btn btn-default">修改订单</a>
                         </div>
                     </div>
                 </div>
                 <ul class="info-right right">
                     <li class="ifr">
                         <p class="le line1">
                             <i class="ifr-qc"></i><span>取车</span>
                         </p>
                         <p class="le line2">
                             <i class="glyphicon glyphicon-time"></i><span>2017-07-05 10:00</span>
                         </p>
                         <p class="le line3">
                             <i class="glyphicon glyphicon-map-marker"></i><span>金华市&nbsp;宾虹路门店</span>
                         </p>
                     </li>
                     <li class="ifr">
                         <p class="le line1">
                             <i class="ifr-hc"></i><span>还车</span>
                         </p>
                         <p class="le line2">
                             <i class="glyphicon glyphicon-time"></i><span>2017-07-07 10:00</span>
                         </p>
                         <p class="le line3">
                             <i class="glyphicon glyphicon-map-marker"></i><span>金华市&nbsp;宾虹路门店</span>
                         </p>
                     </li>
                 </ul>
             </div>
             <div class="box">

             </div>
         </div>
         <div class="panel">
             <div class="panel-body">
                 <div class="info-msg">
                     <p>下单成功后，提醒信息会发送至手机
                         <i class="num">176***0682</i>
                         <a href="javascript:;" id="bt">[修改]</a>
                     </p>
                 </div>
                 <div class="tip">
                     <p>取车时,出示以下证件的原件：本人二代身份证、本人国内有效驾驶证正副本、本人一张信用及可用额度均不低于3000元的国内有效信用卡，所有证件有效期须至少超过当次租期的一个月以上。</p>
                 </div>
                 <div>
                     <h3>费用明细</h3>
                     <!-- 每日租金明细 -->
                     <ul class="rent">
                         <li>
                             <span class="rent-txt">车辆租赁费用</span>
                             <span class="rent-res"><i>¥</i>{{orderPrice}}</span>
                             <span class="rent-pro">{{orderList.orderCost}}x{{orderList.day}}</span>
                         </li>
                         <li ng-class="{'addNo':!add}">
                             <input type="checkbox" class="hide t-checkbox" ng-model="add">
                             <span class="f-checkbox" ng-click="addChange();"><div ng-show="add"></div></span>
                             <span class="rent-txt">增值服务费</span>
                             <span class="rent-res"><i>¥</i>{{addPrice}}</span>
                             <span class="rent-pro">{{orderList.addCost}}x{{orderList.day}}</span>
                         </li>
                         <li class="opcl">
                             <span class="rent-txt">其他费用
                                 <i class="glyphicon glyphicon-info-sign blue">
                                     <div class="info">
                                         <i class="cor"></i>
                                         <p>
                                             如车辆租赁期间出险，客户无需<br>
                                             承担保险理赔范围内的任何损失。<br>
                                             本服务按天计费。
                                         </p>
                                     </div>
                                 </i>
                             </span>
                             <span class="rent-res"><i>¥</i>{{orderList.otherCost}}</span>
                         <li>
                             <span class="rent-txt">合计</span>
                             <span class="rent-res"><i>¥</i>{{totalPrice}}</span>
                             <div class="clear"></div>
                         </li>
                         </li>
                     </ul>
                 </div>
                 <div class="box pay-box">
                     <span class="pay-text">订单总价</span>
                     <span class="pay-res"><i>¥</i>{{totalPrice}}</span>
                     <div class="btn btn-warning btn-pay right">支 付</div>
                 </div>
             </div>
         </div>
        <div class="panel panel-ruler">
            <div class="panel-heading">
                退改规则
            </div>
            <div class="panel-body">
                <p class="title">1. 订单取消</p>
                <p>非易卡租车原因导致订单取消，预付款中的车辆租金及可选服务费等将不退。</p>
                <p class="title">2. 订单修改</p>
                <p>a) 取车时间距当前时间≥2个工作小时，如需修改订单，请在门店营业时间前2个工作小时以上致电400-876-0101。若易卡租车车辆可以满足更改订单的需求，可以为您修改订单，否则不予修改。</p>
                <p>b) 取车时间距当前时间＜2个工作小时，不接受修改。</p>
                <p>（小贴士：如果您修改订单或取消订单重新预订，价格可能会发生变化。）</p>
                <p class="title">3. 提前还车：允许提前还车，但已预付的租金不退。</p>
            </div>
        </div>
    </div>

    <!--引入底部-->
    <div ng-include="'../public/html/footer.html'"></div>
</div>
<div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sign">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    签到送积分
                    <div class="badge badge-exp">积分可用于兑换租车抵用</div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="inline-box col-xs-7">
                        <div style="width:100%;height:300px;" id="calendar"></div>
                    </div>
                    <div class="inline-box col-xs-5 box-sign">
                        <div class="btn-group-sign sign" ng-init="sign=false">
                            <button class="btn btn-warning" ng-hide="sign">签到</button>
                            <button class="btn btn-warning" disabled ng-show="sign">已签到</button>
                        </div>
                        <div class="box-content">
                            <p>每日登陆签到即可获得积分发放</p>
                            <a href="javascript:;" class="right rule popover-show"
                               data-container="body"
                               data-html="true"
                               data-toggle="popover"
                               data-content="<ul><li>1. 签到1天可获得1点积分</li>
                               <li>2. 连续签到2天当天可获得2点积分</li>
                               <li>3. 连续签到3天当天可获得3点积分</li>
                               <li>4. 连续签到4天当天可获得4点积分</li>
                               <li>5. 连续签到5天当天可获得5点积分</li>
                               <li>6. 连续签到6天当天可获得6点积分</li>
                               <li>7. 连续签到7天当天可获得7点积分</li>
                               <li>8. 连续签到7天以上当天均获得7点积分</li>
                               <li>9. 连续签到中断过后，将从第一天开始重新计算</li>">详见签到发放规则>></a>
                            <a href="#" class="btn btn-lg btn-default btn-reward">点击领取奖励</a>
                        </div>
                        <div class="box-footer">
                            <div class="col-xs-4">
                                <p>获得积分(点)</p>
                                <div class="count">300</div>
                            </div>
                            <div class="col-xs-4">
                                <p>连续签到(天)</p>
                                <div class="count">3</div>
                            </div>
                            <div class="col-xs-4">
                                <p>累计签到(天)</p>
                                <div class="count">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="confModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td><span>座位数：</span><span>5</span></td>
                        <td><span>车门数：</span><span>4</span></td>
                    </tr>
                    <tr>
                        <td><span>燃料类型：</span><span>汽油</span></td>
                        <td><span>变速箱类型：</span><span>AT</span></td>
                    </tr>
                    <tr>
                        <td><span>排量：</span><span>1598</span></td>
                        <td><span>燃油标号：</span><span>92-93h号汽油</span></td>
                    </tr>
                    <tr>
                        <td><span>驱动方式：</span><span>前驱</span></td>
                        <td><span>发动机进气形式：</span><span>自然吸气</span></td>
                    </tr>
                    <tr>
                        <td><span>天窗：</span><span>单天窗</span></td>
                        <td><span>油箱容量：</span><span>60</span></td>
                    </tr>
                    <tr>
                        <td><span>音箱：</span><span>6</span></td>
                        <td><span>座椅：</span><span>皮革座椅</span></td>
                    </tr>
                    <tr>
                        <td><span>倒车雷达：</span><span>无</span></td>
                        <td><span>气囊：</span><span>4</span></td>
                    </tr>
                    <tr>
                        <td><span>DVD/CD：</span><span>CD</span></td>
                        <td><span>GPS导航：</span><span>无</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src='../common/js/jquery.min.js'></script>
<script src='../common/js/tool.js'></script>
<script src='../common/js/bootstrap.min.js'></script>
<script src='../common/js/angular.min.js'></script>
<script src='../common/js/jquery.onoff.min.js'></script>
<script src='../common/js/hDate.js'></script>
<script src='../public/js/app.js'></script>
<script src='../public/js/main.js'></script>
<script src='js/calcApp.js'></script>
</body>
</html>